@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Aqui está um pequeno projeto CRUD (Create Read Update Delete).</p>
</div>
<p>Olá! É com grande satisfação que apresentamos nosso projeto de CRUD de lista de contatos em ASP.NET. Desenvolvido com o intuito de proporcionar uma experiência de aprendizado em ASP.NET, este projeto foi uma ótima oportunidade para treinar minhas habilidades em programação web.</p>
